.menu {
  display: flex;
  flex-direction: column;
  background-color: $green;

  .logo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: flex-start;

    img {
      width: 75px;
    }

    .icon-menu {
      display: inline-block;
    }
  }
  
  .show {
    display: none;
  }

  .navigation {
    display: flex;
    flex-direction: column;
    width: 100%;

    a {
      color: $gray;
      font-weight: bold;
      text-decoration: none;
      display: inline-block;
      font-size: 1.2em;
      text-align: center;
      padding: 1em;

      &:hover {
        background-color: lighten($gray, 10%);
        color: lighten($gray, 100%);
      }
    }
  }
}

.toggle-menu {
  display: block;
  width: 30px;
  height: 30px;
  margin: 13px;

  span {
    position: relative;
    display: block;

    &:after, &:before {
      content: "";
      position: absolute;
      left: 0;
      top: 9px;
    }

    &:after {
      top: 18px;
    }

    &, &:after, &:before {
      width: 100%;
      height: 2px;
      background-color: $white;
      -webkit-transition: all .3s;
      transition: all .3s;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      -webkit-border-radius: 2px;
      border-radius: 2px;
    }
  }

  &.on {
    span {
      background-color: transparent;

      &:before {
        -webkit-transform: rotate(45deg) translate(-1px, 0);
        -ms-transform: rotate(45deg) translate(-1px, 0);
        transform: rotate(45deg) translate(-1px, 0);
      }

      &:after {
        -webkit-transform: rotate(-45deg) translate(6px, -7px);
        -ms-transform: rotate(-45deg) translate(6px, -7px);
        transform: rotate(-45deg) translate(6px, -7px);
      }

      .tog-menu > a {
        margin-top: 25px;
        margin-left: 10px;
        position: relative;
        z-index: 9999;
      }
    }
  }
}

@media all and (min-width: $desktops) {
  .menu {
    width: 60%;
    margin: 0 auto;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .show {
      display: flex;
    }

    .logo {
      display: inline-block;
      margin: 10px 0 10px 10px;

      .btn-menu {
        display: none;
        color: lighten(#000, 100%);
        text-decoration: none;
        font-size: 1em;
        align-self: center;
        margin-right: 10px;
      }

      img {
        vertical-align: top;
      }

      .icon-menu {
        display: none;
      }
    }

    .navigation {
      display: flex;
      flex-direction: row;
    }
  }
}


.bg {
  background: url("../img/pictures/20161202_101925.jpg") no-repeat center center;
  height: 600px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}



