.text-green {
  color: $green;
}

.text-orange {
  color: $orange;
}

.text-brown {
  color: $brown;
}

.text-blue {
  color: $blue;
}

.text-white {
  color: $white;
}

.text-gray {
  color: $gray;
}